/* -- XXX -- */
/* XXX */




/* -- UNIVERSAL STYLES -- */
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;

  background-color: whitesmoke;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto; /* to center container into browser window */
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.img-container {
  overflow: hidden;
  background-color: color: rgb(120 120 120);
}

.img-container img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

.banner-section,
.calendar-section,
.catalogue-section,
.exhibit-section,
.footer-section {
  position: relative;
  top: 4rem;
}

/* -- HEADER -- */
.header-section {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
  height: 4rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.08);
}

.header-section div.content-wrapper.flex {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.logo {
  padding-right: 2.5rem;
  flex-grow: 1;
}


.logo .img-container {
  min-width: 1.6875rem;
  min-height: 2rem;
  display: inline-block;
  vertical-align: middle;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  /transition: display 400ms ease-out 25ms;
}

.brand-name span {
  font-weight: 700;
}

@media only screen and (max-width: 740px) {
  .brand-name {
    display: none;
  }
}

.nav-desktop {
  height: inherit;

}

.nav-desktop ul {
  height: inherit;


}

.nav-desktop ul li {
  display: inline-block;
  margin-top: 0.25rem;
  padding: 1.25rem 0.75rem 1rem 0.75rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.nav-desktop ul li a:hover,
.nav-desktop ul li a:focus {
  color: black;
}

.nav-desktop-btn::after {
    content: '';
    display: block;
    position: relative;
    top: 0.5rem;
    left: -0.75rem;
    width: 0;
    height: 0.105rem;
    background-color: black;
    transition: width 200ms ease-in 25ms;
}

.nav-desktop-btn:hover::after,
.nav-desktop-btn:focus::after {
    width: calc(100% + 1.5rem);
    /transition: width 200ms ease-in 25ms;
}

.nav-desktop ul li a {
  text-decoration: none;
  color: rgb(120 120 120);
}

.nav-mobile {
  display: none;
}

/*
@media only screen and (max-width: ) {

}
*/

/* -- BANNER -- */
.banner-container {
  background-color: white;
  padding: 2rem;
  align-items: center;
}

.banner-container .img-container {
  flex-basis: 60%;
  max-width: 60%;
}

.banner-container img {
  max-height: 100%;
  width: auto;
}

.banner-cta {
  margin: 1rem 0 1rem 3rem;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.banner-cta h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .15rem;
  line-height: 2.75rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.banner-cta h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 960px) {
  .banner-cta h1 {
    font-size: 4.1vw;
  }

  .banner-cta h3 {
    font-size: 2.5vw;
  }
}


.cta-btn {
  font-size: 1.125rem;
  text-decoration: none;
  background-color: white;
  color: black;
  opacity: .9;
  padding: 1rem;
  width: 100%;
  text-align: center;

  box-shadow: 0 1.5px 1.5px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}

.banner-cta a:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),
    0 0 0 1px rgba(0,0,0,0.08);
}



/* -- CALENDAR -- */


/* -- CATALOGUE -- */


/* -- EXHIBIT -- */


/* -- FOOTER -- */
